$primary-light: #aa0601;
$primary-main: #650300;
$primary-dark: #8c0d0a;
$secondary: #fbf2f2;
$default: #707070;
$default-light: #dcdcdc;
$font-family: 'Roboto', 'Noto Sans TC', sans-serif;
$anim-time: 0.3s;
$line-height: 1.5;
$font-base: 4px;
$spacing-base: 4px;