.lFt {
  padding: $spacing-base * 8;
  background-color: $primary-light;
  color: white;

  @include M {
    padding: $spacing-base * 6 $spacing-base * 4;

    &>.container {
      position: relative;
    }
  }
}

.socialMediaList {
  @include nav-spacing(32px, 24px, 24px);

  img {
    width: 48px;
  
    @include Tablet {
      width: 24px;
    }
    
    @include M {
      width: 24px;
    }
  }
}

.navList {

  @include M {
    position: absolute;
    right: 0;
  }
}

.urlList {

  @include M {
    display: none;
  }
}

.copywriting {

  @include M{
    font-size:  $font-base * 4 - 2;
    margin-bottom: $spacing-base * 2;
  }
}

.lawList{

  @include nav-spacing(32px, 24px, 24px) {
    padding: 0;
  }
  
  @include M {
    font-size:  $font-base * 4 - 2;
    flex-direction: column;
    align-items: flex-start;
    
    &>li{
      margin-bottom: $spacing-base * 2;
    }
  }
}

.contactInfo {
  font-size: $font-base * 9;
  line-height: 1.5;
  margin-top: $spacing-base * 6;
  margin-bottom: $spacing-base * 8;
  padding-bottom: $spacing-base * 6;
  border-bottom: 1px solid white;

  @include M {
    padding-bottom: $spacing-base * 6;
    margin-bottom: $spacing-base * 4;
    margin-top: 0;
    font-size: $font-base * 4;
  }

  &>li>a {
    display: inline-flex;
    align-items: center;
  }

  a::before {
    @include pseudo-icon-background(36px, 36px, 22px);

    @include M {
      width: 24px;
      height: 24px;
      margin-right: $spacing-base * 2;
    }
  }
}

.contactInfo li:first-child {

  @include M {
    margin-bottom: $spacing-base * 2;
  }

  a::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone.svg");
  }
}

.contactInfo li:last-child a::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-mail.svg");
}