.main {
  margin-top: 105px;
  @include M {
    margin-top: 132px;
  }
}

.container {
  max-width: 1100px;
  margin: 0 auto;

  @include Tablet {
    margin-left: $spacing-base * 10;
    margin-right: $spacing-base * 10;
  }
  
  @include M {
    max-width: $spacing-base * 112;
    margin-left: $spacing-base * 4;
    margin-right: $spacing-base * 4;
  }
}

.container-sm {
  max-width: 730px;
  margin: 0 auto;
  
  @include Tablet {
    margin-left: $spacing-base * 4;
    margin-right: $spacing-base * 4;
  }

  @include M {
    padding: 0 $spacing-base * 4;
  }
}
