.lHd {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: $primary-light;
  padding: $spacing-base * 7 $spacing-base * 22;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
  top: 0;
  z-index: 1;

  @include Tablet {
    padding: $spacing-base * 7 $spacing-base * 10;
  }

  @include M {
    display: block;
    padding: 0;

    .logo {
      padding: $spacing-base * 2;
      text-align: center;
    }

    .nav {
      flex-wrap: wrap;
      &> li {
        border: 1px solid white;
        width: 50%;
        padding: $spacing-base * 2;
        text-align: center;
        margin: 0;
      }
    }
  }
}

.logo {
  &>h1 {
    position: absolute;
    left: -10000px;
  }
  img { 
    width: 80px;
  }
}