.mArticleHd.blog {
  margin-top: $spacing-base * 10;

  @include Tablet {
    margin-top: $spacing-base * 8;
  }
}

.blogCardWrap {
  text-align: left;
  border: 0px;
  background: transparent;
  cursor: pointer;
  border-radius: 4px;
  padding: 0;
  transition: $anim-time;
  margin-bottom: $spacing-base * 15;

  @include Tablet {
    margin-bottom: $spacing-base * 6;
  }

  @include M {
    margin-bottom: $spacing-base * 5;
  }

  &:hover {
    transform: translateY(-5px) scale(1.01);
  }
}

.blogCard{
  display: flex;

  @include M {
    flex-direction: column;
    align-items: stretch;
  }
}

.blogCardImg{
  align-self: start;

  @include Tablet {
    width: 40%;
  }

  @include M {
    margin-bottom: $spacing-base * 2;
  }
}

.blogCardCnt {
  margin-left: $spacing-base * 9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  @include Tablet {
    margin-right: $spacing-base * 8;
  }

  @include M {
    margin-left: 0;
  }
}

.blogCardCntHd {
  font-size: $font-base * 8;
  color: $primary-main;

  @include Tablet {
    font-size: $font-base * 5;
  }

  @include M {
    font-size: $font-base * 4;
  }
}

.blogCardCntBd {
  &>h6 {
    font-size: $font-base * 8;
    color: $primary-main;

    @include Tablet {
      font-size: $font-base * 5;
    }
  }

  &>p {

    @include Tablet {
      font-size:  $font-base * 4 - 2;
      position: relative;
    }

    @include M {
      display: none;
    }
  }
  [data-query="T"] {
    @include Tablet {
      display: inline-block;
      margin-left: $spacing-base * 2;
      font-weight: 700;
      font-size:  $font-base * 4 - 2;
    }
  }
}

.cardSubtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: $spacing-base * 6;
  font-weight: 600;
  
  &h3 {
    font-size: $font-base * 5;
  }
  
  @include Tablet {
    font-size:  $font-base * 4 - 2;
    margin-bottom: $spacing-base * 3;
    
    &>h3 {
      font-size: $font-base * 4;
    }

    &>h6 {
      font-size: $font-base * 4;
    }

    &>p {
      font-size:  $font-base * 4 - 2;
    }
  }
  @include M {
    margin-bottom: 0px;

    &>h3 {
      font-size:  $font-base * 4 - 2;
    }
    
    &>p {
      font-size:  $font-base * 4 - 2;
    }
  }
}

.blogCardAction {
  font-weight: 900;
  font-size: $font-base * 9;
  text-align: right;
  margin-top: $spacing-base * 4 - 2;
  color: $primary-main;
}
