.banner {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.bannerImg {
  width: 100%;

  [data-query="P"] {
    display: block;

    @include Tablet {
      display: none;
    }

    @include M {
      display: none;
    }
  }

  [data-query="M"] {
    display: none;

    @include Tablet {
      display: block;
    }

    @include M {
      display: block;
    }
  }
}

.bannerBd {
  position: absolute;
  text-align: right;
  left: 50%;

  @include Tablet {
    right: 38px;
    left: auto;
  }

  @include M {
    right: 15px;
    left: auto;
    h4 {
      font-size: $font-base * 4;
    }
  }
}

.mFrame.profession,
.mFrame.contact {
  background-color: $secondary;
}

.iconCard {
  text-align: center;
  padding: 0px $spacing-base * 4;
  width: 25%;

  @include Tablet {
    width: 50%;
  }

  @include M {
    width: 100%;
  }
}

.iconCardTitle {
  color: $primary-main;
  margin-bottom: $spacing-base * 2;
  font-size: $font-base * 6;
}

.iconCardIcon {
  fill: $primary-main;
  width: 83px;
  height: 83px;
  margin-bottom: $spacing-base * 6;
}

.iconCardContent {
  text-align: left;
}

.horizentalCard {
  display: flex;
  align-items: center;

  @include M {
    position: relative;
  }

  &:not(:last-child) {
    margin-bottom: $spacing-base * 8;
  }
}

.horizentalCardImg {
  width: 60%;

  @include M {
    width: 100%;
  }
}

.horizentalCardContent {
  text-transform: uppercase;
  color: $primary-light;
  margin: 0 2rem;
  display: flex;
  align-items: center;
  font-size: $font-base * 12;
  
  @include Tablet {
    font-size: $font-base * 7;
  }
  
  @include M {
    font-size: $font-base * 7;
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  &::before {
    @include pseudo-icon-background(40px, 40px, 22px);

    @include PC {
      width: 48px;
      height: 48px;
    }
  }
}

.seriesList > .horizentalCard:nth-child(2) {
  flex-direction: row-reverse;

  @include Tablet {
    flex-direction: row;
  }
}

.optionalIconPrimary::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond.svg");
}
.sunglassesIconPrimary::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun.svg");
}
.functionalIconPrimary::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder.svg");
}

.mFrame.cobrand {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/bg.png");
  background-position: center;
  background-repeat: no-repeat;
}

.list.cobrand > li {
  width: 50%;
  padding: 0px $spacing-base * 4;

  @include M {
    width: 100%;
    padding: 0px;
    margin-bottom: $spacing-base * 4;
  }
}

.cobrandCard {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  &::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 0.5);
  }
}

.cobrandCardImg {
  max-width: 100%;
}

.cobrandCardContent {
  position: absolute;
  color: $primary-main;
  font-size: $font-base * 8;

  @include PC {
    font-size: $font-base * 18;
  }
}

.list.commend > li {
  width: 25%;
  padding: 0px $spacing-base * 4;
  margin-bottom: $spacing-base * 8;

  @include Tablet {
    width: 50%;
  }

  @include M {
    width: 100%;
  }
}

.commentCard {
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  background-color: #fff;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.commentCardImg {
  max-width: 100%;
}

.commentCardContent {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: $spacing-base * 4;
  
  &> footer {
    margin-top: $spacing-base * 13;
  }
}
