.blogNav{
  background-color: $primary-main;
}

.list.post{
  ul {
    display: flex;
  }
  li{
    margin: $spacing-base * 3;
    @include M{
      margin: $spacing-base * 4 $spacing-base * 2;
    }
    &:first-child{
      margin-left: 0;
    }
  }
}

.tag {
  font-size: $font-base * 6;
  font-weight: 700;
  color: $primary-light;

  @include Tablet {
    font-size: $font-base * 4;
  }

  @include M {
    font-size:  $font-base * 4 - 2;
  }

  &.list {
    justify-content: flex-start;
    li {
      padding-bottom: $spacing-base * 2;
      padding-right: $spacing-base * 6;

      @include Tablet {
        padding-bottom: 0px;
        padding-right: $spacing-base * 4;
      }

      @include M {
        padding-right: $spacing-base * 2;
      }
    }
  }
}

.blogBd {
  display: flex;
  margin-bottom: $spacing-base * 37;

  @include Tablet {
    margin-bottom: $spacing-base * 24;
  }

  @include M {
    margin-bottom: $spacing-base * 14;
    flex-direction: column;
  }

  &>article {
    width: 75%;
    margin-right: 2rem;
    @include M{
      width: 100%;
      margin-right: 0;
    }
  }

  &>aside {
    width: 23%;
    color: $primary-light;
    @include M{
      width: 100%;
    }
  }

  .blogBdImg {
    width: 100%;
  }
}

.blogArticleMain{
  color: $default;
  font-size: $font-base * 5;
  margin-top: $spacing-base * 5;
  
  p {
    margin-top: $spacing-base * 6;
    margin-bottom: $spacing-base * 10;
  }
}

.tagsHd {
  font-size: $font-base * 7;
  font-weight: 700;
  margin-bottom: $spacing-base * 2;
  display: flex;
  align-items: center;

  @include Tablet{
    font-size: $font-base * 5;
  }

  &::before {
    @include pseudo-icon-background(38px, 28px, 12px) {
      display: inline-block;
      background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-tag.svg");
    }
  }
}

.postPagenation {
  margin-top: $spacing-base * 6;
  display: flex;
  justify-content: space-between;
  
  @include Tablet{
    margin-top: $spacing-base * 4;
  }
  
  @include M{
    margin-top: $spacing-base * 3;
    margin-bottom: $spacing-base * 8;
    flex-direction: column;
  }
}

.pagenationLabel{
  display: flex;
  align-items: center;
  font-size: $font-base * 5;
  color: black;
  transition: $anim-time;
  position: relative;

  @include Tablet {
    font-size: $font-base * 4;
  }

  @include M {
    font-size:  $font-base * 4 - 2;
    margin-bottom: $spacing-base * 2;
  }

  &:hover {
    color: black;
    font-weight: 700;
  }

  img {
    display: inline-block;
    margin: 0px $spacing-base * 3;
  }

  &:nth-child(2) {
    flex-direction: row-reverse;
    
    @include M{
      flex-direction: row;
    }
  }
}

.shareMedia {
  padding-bottom: $spacing-base * 5;
  border-bottom: 1px solid black;

  @include Tablet{
    font-size: $font-base * 4;
  }

  a {
    color: black;
    font-weight: 700;
    font-size: $font-base * 5;
    margin-right: $spacing-base * 4;
  }
}

.blogTitle {
  font-size: $font-base * 12;

  @include Tablet {
    font-size: $font-base * 8;
  }

  @include M {
    font-size: $font-base * 5;
    color: $primary-main;
  }
}