.qa {
  h3 {
    font-size: $font-base * 8;
    margin-bottom: $spacing-base * 9;

    @include M {
      font-size: $font-base * 5;
      margin-bottom: $spacing-base * 6;
    }
  }
}

.qaList {
  counter-reset: num;

  li {
    margin-bottom: $spacing-base * 8;

    @include M {
      margin-bottom: $spacing-base * 5;
    }
  }

  h6 {
    font-size: $font-base * 5;
    margin-bottom: $spacing-base * 4;

    @include M {
      font-size: $font-base * 4;
      margin-bottom: $spacing-base * 2;
    }

    &::before {
      content: 'Q' counter(num) '.';
      counter-increment: num; 
    }
  }

  p {
    margin-left: 6rem;
    
    @include Tablet {
      margin-left: 4rem;
    }
    
    @include M {
      font-size:  $font-base * 4 - 2;
      margin-left: 0;
      margin-bottom: $spacing-base * 4;
    }
  }
}
