.list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.optionalIcon::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond-black.svg");
}
.sunglassesIcon::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun-black.svg");
}
.functionalIcon::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder-black.svg");
}