.navHeader {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--primary-light);
  padding: 30px 88px;
  position: fixed;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  top: 0;
  z-index: 1; }

.logo > h1 {
  position: absolute;
  left: -10000px; }

.logo img {
  width: 80px; }

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff; }

.nav > li {
  margin: 0 32px; }

.nav > li > a {
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s; }

.nav > li > a:hover {
  color: rgba(255, 255, 255, 0.5); }

.main {
  margin-top: 108px; }

.mFrameHd {
  font-weight: 700;
  text-align: center;
  margin-bottom: 40px; }

.mFrame {
  padding-top: 60px;
  padding-bottom: 80px; }

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }

.footer {
  padding: 32px;
  background-color: var(--primary-light);
  color: white; }

.footer .list {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.footer .list > li:not(:last-child) {
  padding-right: 24px; }

.footer a {
  color: #fff; }

.contactInfo {
  font-size: 36px;
  line-height: 1.5;
  margin-top: 24px;
  margin-bottom: 32px;
  padding-bottom: 24px;
  border-bottom: 1px solid white; }

.contactInfo > li > a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.contactInfo a::before {
  content: "";
  width: 36px;
  height: 36px;
  margin-right: 22px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain; }

.contactInfo li:first-child a::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-phone.svg"); }

.contactInfo li:last-child a::before {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-mail.svg"); }

.mArticle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 128px; }

.mArticleHd {
  margin-top: 96px;
  margin-bottom: 60px; }
  .mArticleHd h2 {
    font-size: 48px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .mArticleHd h2::before {
      content: "";
      width: 8px;
      height: 70px;
      display: inline-block;
      margin-right: 16px;
      background-color: var(--primary-main); }

/* Tablet */
@media (min-width: 768px) and (max-width: 979px) {
  .navHeader {
    padding: 30px 40px; }
  .nav > li {
    margin: 0 20px; }
  .mFrame {
    padding-top: 40px;
    padding-bottom: 56px; }
  .mArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 96px; } }

/* mobile */
@media (max-width: 767px) {
  .navHeader {
    display: block;
    padding: 0; }
    .navHeader .logo {
      padding: 10px;
      text-align: center; }
    .navHeader .nav {
      -ms-flex-wrap: wrap;
          flex-wrap: wrap; }
      .navHeader .nav > li {
        border: 1px solid white;
        width: 50%;
        padding: 8px;
        text-align: center;
        margin: 0; }
  .main {
    margin-top: 136px; }
  .mFrame {
    padding-top: 32px;
    padding-bottom: 40px; }
  .mArticle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 56px; }
  .list.footerNav {
    position: absolute;
    right: 0; }
    .list.footerNav > .list:first-child {
      display: none; }
    .list.footerNav img {
      width: 24px;
      height: 24px; }
  .footer {
    padding: 24px 15px; }
    .footer > .container {
      position: relative; }
  .list.copywriting {
    font-size: 14px; }
    .list.copywriting small {
      margin-bottom: 8px; }
    .list.copywriting .list {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start; }
      .list.copywriting .list > li:not(:last-child) {
        padding: 0;
        margin-bottom: 8px; }
  .contactInfo {
    padding-bottom: 24px;
    margin-bottom: 16px;
    margin-top: 0;
    font-size: 16px; }
    .contactInfo > li:first-child {
      margin-bottom: 8px; }
  .contactInfo a::before {
    width: 24px;
    height: 24px;
    margin-right: 8px; }
  .mArticleHd {
    margin-top: 28px;
    margin-bottom: 24px; } }

/*# sourceMappingURL=common.css.map */
