.mArticle {
  display: flex;
  flex-direction: column;
  margin-bottom: $spacing-base * 32;

  @include Tablet {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-base * 24;
  }

  @include M {
    display: flex;
    flex-direction: column;
    margin-bottom: $spacing-base * 14;
  }
}

.mArticleHd {
  margin-top: $spacing-base * 24;
  margin-bottom: $spacing-base * 15;

  @include M {
    margin-top: $spacing-base * 7;
    margin-bottom: $spacing-base * 6;
  }

  h2 {
    font-size: $font-base * 12;
    display: flex;
    align-items: center;

    @include M {
      font-size: $font-base * 7;
    }
    
    &::before {
      content: "";
      width: 8px;
      height: 70px;
      display: inline-block;
      margin-right: $spacing-base * 4;
      background-color: $primary-main;
    }
  }
}