.breadCrumb {
  display: flex;
  margin: $spacing-base * 2 0;

  li:not(:last-child)::after {
    content: "/";
    display: inline-block;
    margin: 0px $spacing-base * 1;
  }

  a {
    color: black;
  }

  [data-location="true"]{
    color: $primary-main;
  }
}
