
.formGroup {
  display: flex;
  align-items: center;
}

.formLabel {
  display: block;
  margin-bottom: 4px;
  font-size: 16px;

  @include Tablet {
    font-size: 14px;
  }

  @include M {
    font-size: 14px;
  }
}

.formInput {
  border: 1px solid black;
  padding: 12px 16px 14px;
  display: block;
  margin-bottom: 16px;
  width: 100%;
}

.formCheckbox {
  width: 24px;
  height: 24px;
  margin-right: 4px;
  & ~ label {
    display: inline;
    margin-bottom: 0;
  }
}

.formBtn {
  background-color: $primary-light;
  padding: 16px;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  margin-top: 40px;
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: $anim-time;
  &:hover{
    background-color: $primary-dark;
  }
}