
.formGroup {
  display: flex;
  align-items: center;
}

.formLabel {
  display: block;
  margin-bottom: $spacing-base * 1;
  font-size: $font-base * 4 - 2;
  
  @include PC {
    font-size: $font-base * 4;
  }
}

.formInput {
  border: 1px solid black;
  padding: $spacing-base * 3 $spacing-base * 4;
  display: block;
  margin-bottom: $spacing-base * 4;
  width: 100%;
}

.formCheckbox {
  width: 24px;
  height: 24px;
  margin-right: $spacing-base * 1;
  
  & ~ label {
    display: inline;
    margin-bottom: 0;
  }
}

.formBtn {
  background-color: $primary-light;
  padding: $spacing-base * 4;
  color: #fff;
  width: 40%;
  margin: 0 auto;
  margin-top: $spacing-base * 10;
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  transition: $anim-time;

  &:hover {
    background-color: $primary-dark;
  }
}