
.pagination {
  display: flex;
  justify-content: center;

  &>a {
    padding: $spacing-base * 3 $spacing-base * 4;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-right: 0px;
    color: black;

    &:hover{
      background-color: black;
      color: white;
    }
    &:last-child{
      border-right: 1px solid black;
    }
  }
}
